* {
  padding: 0;
  margin: 0;
}

body {
  background: #765eab;
  background: -webkit-linear-gradient(to left, #8c6cd0, #765eab);
  background: linear-gradient(to left, #8c6cd0, #765eab);
  position: relative;
  width: 100vw;
  height: 100vh;
}

.main,
.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 15%;
}

/* Estilo dos cards representando usuário logado */

.user {
  position: relative;
  background-color: #fafafa;
  padding: 10px;
  border-radius: 4px;
  width: 90px;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  text-overflow: ellipsis;
  margin: 4px;
  cursor: pointer;
  transition: opacity 500ms ease;
  text-align: center;
}

.user .user_icon {
  font-size: 30px;
  color: #ff6362;
  text-transform: uppercase;
}
.user .user_name {
  font-weight: 700;
  font-size: 15px;
  color: #5d5454;
  text-transform: capitalize;
}
.user .user_date {
  color: #606060;
  font-size: small;
}

.user:hover {
  opacity: 0.8;
}

/* Estilo para chat */

.chats_wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
}

.chats_wrapper .chat {
  position: relative;
  width: 300px;
  display: block;
  font-family: sans-serif;
  margin: 0px 5px;
  background-color: #fafafa;
  border-radius: 5px 5px 0 0;
}
.chats_wrapper .chat header {
  background: #293239;
  border-radius: 5px 5px 0 0;
  color: #fff;
  cursor: pointer;
  padding: 16px 24px;
}
.chats_wrapper .chat main {
  height: 270px;
  padding: 5px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: column;
}
.chats_wrapper .chat main .message {
  width: fit-content;
  word-break: break-word;
  white-space: normal;
  padding: 10px;
  border-radius: 20px;
  margin: 5px 0px;
  height: fit-content;
  height: -moz-fit-content;
  position: relative;
}
.chats_wrapper .chat main .message.their {
  background-color: #add1ff;
}
.chats_wrapper .chat main .message.me {
  background-color: #adffca;
  justify-self: flex-end;
  align-self: flex-end;
}
.chats_wrapper .chat main .message .senderNameMessage {
  font-size: 12px;
  text-align: right;
  display: block;
  color: red;
  font-weight: 800;
}

.chats_wrapper .chat main .me span,
.chats_wrapper .chat main .their span {
  font-size: 10px;
  color: #606060;
}
.chats_wrapper .chat footer {
  padding: 15px;
}
.chats_wrapper .chat footer input {
  border: 1px solid #add1ff;
  width: 70%;
  font-size: 14px;
  padding: 15px;
  border-radius: 20px !important;
  outline: none;
}
.chats_wrapper .chat footer a {
  font-size: medium;
  color: #2196f3;
  padding: 5px;
  cursor: pointer;
}
.chats_wrapper .chat.minimize {
}
.chats_wrapper .chat.maximize {
}

/* Estilos genéricos */

.box_shadow_0 {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

article h1 {
  font-family: sans-serif;
  font-size: xx-large;
  line-height: 60px;
  color: #323132;
}
