@page
@{
    ViewData["Title"] = "Chat";
}
<div class="main">
   
</div>
<div class="container wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span>Lets Chat
                    <div class="btn-group pull-right">
                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                </div>
                <div class="panel-collapse collapse" id="collapseOne">
                    <div class="panel-body">
                        <ul id="messageList" class="chat">
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" id="userName" class="form-control input-sm" placeholder="Type your Name." />

                                </div>
                                <div class="col-sm-6">
                                    <input type="text" id="userMessage" class="form-control input-sm" placeholder="Type your message here..." />
                                </div>
                            </div>
                            <span class="input-group-btn">
                                <input type="button" value="send" id="sendMessage" class="btn btn-danger btn-sm">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
