@page
@{
    ViewData["Title"] = "Chat";
}

<!-- Public chat -->
<article class="wrapper">
  <h1>Converse com todos</h1>
  <section
    class="user box_shadow_0"
    onclick="openChat(this)"
    data-id="9355b61a-e9f1-42df-9ebe-12b073f56c72"
    data-name="Publico"
  >
    <span class="user_icon">P</span>
    <p class="user_name">Público</p>
    <span class="user_date"></span>
  </section>
</article>
<!-- User chats -->
<div class="main"></div>
<div class="chats_wrapper"></div>
<div class="logo">
    <img src="files/logo-take.svg" />
</div>